<div class="issue-text" data-issue-key="<%= issue.key %>"><span class="issueType"><%= issue.issueType %></span>
<% if (issue.status == 'ready') { %> <i class="fa fa-lightbulb status-icon status-ready"></i> <% } %>
<% if (issue.status == 'doing' || issue.status == 'in_progress') { %> <i class="fa fa-clock status-icon status-doing"></i> <% } %>
<% if (issue.status == 'blocked') { %> <i class="fa fa-ban status-icon status-blocked"></i> <% } %>
<% if (issue.status == 'suggested') { %> <i class="fa fa-comment-dots status-icon status-suggested"></i> <% } %>
<% if (issue.status == 'done') { %> <i class="fa fa-check status-icon status-done"></i> <% } %>
<% if (issue.status == 'released') { %> <i class="fa fa-rocket status-icon status-released"></i> <% } %>
<span class="attribute">id</span>=<span class="value">"<%= issue.key %>"</span>
<span class="attribute">title</span>=<span class="value">"<%= issue.title %>"</span>
<% if (issue.versionNumber) { %><span class="attribute">version</span>=<span class="value">"<%= issue.versionNumber %>"</span> <% } %>
<span class="attribute">sp</span>=<span class="value">"<%= issue.estimation %>"</span>
<i class="fa fa-pencil edit-button hide-on-adopt-mode"></i>
<i class="fa-regular fa-trash-can delete-button hide-on-adopt-mode"></i>
<i class="fa fa-arrow-right-from-bracket fa-rotate-270 child-adopt-button show-on-adopt-mode"></i>
<i class="fa fa-arrow-right-to-bracket fa-rotate-90 parent-adopt-button show-on-adopt-mode"></i>
<a href="/project/<%= project.key %>/issue/<%= issue.key %>" class="hide-on-adopt-mode">...</a></div>
