<div class="issue-root" style="margin-left: 2rem">
    <% if (issue.childrenIssueList.length) { %>
    <div class="issue-container">
        <i class="fold-button fa fa-chevron-down"></i> 
        <span class="bracket">&lt;</span><%- include('./issueText', {issue: issue}) %><span class="bracket">&gt;</span>
        <div class="bar"><%- include('./progressBarPart', {issue: issue, step: 'todo'}) %><%- include('./progressBarPart', {issue: issue, step: 'doing'}) %><%- include('./progressBarPart', {issue: issue, step: 'done'}) %></div>
    </div>
    <% for (let childIssue of issue.childrenIssueList){ %>
        <%- include('./issue', {issue: childIssue}) %>
    <% } %>
    <span class="bracket">&lt;&#47;</span><span class="issueType"><%= issue.issueType %></span><span class="bracket">&gt;</span>
    <% } else { %>
    <span class="bracket">&lt;</span><%- include('./issueText', {issue: issue}) %><span class="bracket">&#47;&gt;</span>
    <% } %>
</div>