<div style="margin-left: 2rem">
    <% if (issue.childrenIssueList.length) { %>
    <div class="issue-container">
        <span class="bracket">&lt;</span><%- include('./issueText', {issue: issue}) %><span class="bracket">&gt;</span>
        <div class="bar"><span class="bar-part todo-part" style=<%- '"width: ' + Math.floor(95*issue.chTodoSp / (issue.chTodoSp + issue.chDoingSp + issue.chDoneSp)) + '%;"' %>></span><span class="bar-part doing-part" style=<%- '"width: ' + Math.floor(95*issue.chDoingSp / (issue.chTodoSp + issue.chDoingSp + issue.chDoneSp)) + '%;"' %>></span><span class="bar-part done-part" style=<%- '"width: ' + Math.floor(95*issue.chDoneSp / (issue.chTodoSp + issue.chDoingSp + issue.chDoneSp)) + '%;"' %>></span></div>
    </div>
    <% for (let childIssue of issue.childrenIssueList){ %>
        <%- include('./issue', {issue: childIssue}) %>
    <% } %>
    <span class="bracket">&lt;&#47;</span><span class="issueType"><%= issue.issueType %></span><span class="bracket">&gt;</span>
    <% } else { %>
    <span class="bracket">&lt;</span><%- include('./issueText', {issue: issue}) %><span class="bracket">&#47;&gt;</span>
    <% } %>
</div>