<div class="issue-root" style="margin-left: 2rem">
    <div class="issue-container">
        <i class="fold-button fa fa-chevron-down fa-fw"></i> 
        <span class="bracket">&lt;</span><%- include('./issueText.part.ejs', {issue: issue, project: project}) %><span class="bracket">&gt;</span>
        <div class="bar"><%- include('./progressBarPart.part.ejs', {issue: issue, step: 'todo'}) %><%- include('./progressBarPart.part.ejs', {issue: issue, step: 'doing'}) %><%- include('./progressBarPart.part.ejs', {issue: issue, step: 'done'}) %></div>
    </div>
    <%- include('../partials/newIssueForm.part.ejs', {versionList: versionList}) %>
    <i class="fa fa-fw"></i> <span class="bracket">&lt;&#47;</span><span class="issueType"><%= issue.issueType %></span><span class="bracket">&gt;</span>
</div>