<div class="col">
    <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between stretch">
            <div class="d-flex flex-row align-items-center">
                <div class="ms-2 c-details">
                    <h3 class="mb-0"><%= project.name %></h3>
                    <span><%= lastActivityStr %></span>
                </div>
            </div>
            <div class="badge"><span><%= stats.todo.count + stats.doing.count %> open</span></div>
        </div>
        <div class="mt-5">
            <h6 class="heading"><%= project.description %></h6>
            <% const totalSp = stats.todo.sp + stats.doing.sp + stats.done.sp %>
            <% const donePct = totalSp > 0 ? Math.round(stats.done.sp / totalSp * 100) : 0 %>
            <div class="mt-5">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: <%= donePct %>%" aria-valuenow="<%= donePct %>" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="mt-3"><span class="text1"><%= stats.done.sp %> SP done <span class="text2">of <%= totalSp %> total</span></span></div>
            </div>
        </div>
        <a href="/project/<%= project.key %>" class="stretched-link"></a>
    </div>
</div>
