<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img class="logo" src="/img/kose64x64.png" sizes="24x24" alt=""></a>
    <div class="dropdown">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <%= currentProject %>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <% for (let project of user.projectList) { %>
            <li><a class="dropdown-item" href="/project/<%= project.key %><%= urlSuffix %>"><%= project.name %></a></li>
            <% } %>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a id="projectNavLink" class="nav-link<%- currentProjectKey ? '' : ' disabled' %>" href="/project/<%= currentProjectKey %>">Home</a>
            </li>
            <li class="nav-item">
                <a id="backlogNavLink" class="nav-link<%- currentProjectKey ? '' : ' disabled' %>" href="/project/<%= currentProjectKey %>/backlog">Backlog</a>
            </li>
            <li class="nav-item">
                <a id="versionNavLink" class="nav-link<%- currentProjectKey ? '' : ' disabled' %>" href="/project/<%= currentProjectKey %>/version">Versions</a>
            </li>
            <li class="nav-item">
                <a id="issueNavLink" class="nav-link<%- currentProjectKey ? '' : ' disabled' %>" href="/project/<%= currentProjectKey %>/issue">Issues</a>
            </li>
        </ul>
    </div>
    <a class="navbar-brand btn btn-danger btn-small ms-auto" style="color: white;" href="/auth/logout"> <i class="fa fa-sign-out"></i> <span class="d-none d-md-inline">Logout</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>