<%- include('../commons/head.com.ejs', {title: `Backlog de ${project.name}`, additionalCss: ['structure']}) %>

<body>
    <%- include('../commons/navbar.com.ejs', {user: user, currentProject: project.name, currentProjectKey: project.key, urlSuffix: '/backlog'}) %>
    <div class="backlogRoot p-3">
        <h1>Backlog de <%= project.name %></h1>
        <div class="p-2" style="margin-left: -2rem;">
            <% for (let issue of rootIssueList){ %>
                <%- include('../partials/issue.part.ejs', {issue: issue, project: project}) %>
            <% } %>
        </div>
        <div id="newIssueZone" style="display: none;"></div>
        <button id="newIssueButton" type="button" class="btn btn-outline-success mt-3"><i class="fa fa-plus"></i></button>
    </div>
</body>

<%- include('../commons/foot.com.ejs') %>

<script src="/js/structure.js"></script>
<script src="/js/backlog.js"></script>