<%- include('../commons/head', {title: `Backlog de ${project.name}`, additionalCss: ['structure']}) %>

<body>
    <%- include('../commons/navbar', {user: user, currentProject: project.name, currentProjectKey: project.key, urlSuffix: '/backlog'}) %>
    <div class="p-3">
        <h1>Backlog de <%= project.name %></h1>
        <div class="p-2" style="margin-left: -2rem;">
            <% for (let issue of rootIssueList){ %>
                <%- include('../partials/issue', {issue: issue, project: project}) %>
            <% } %>
        </div>
    </div>
</body>

<%- include('../commons/foot') %>

<script src="/js/structure.js"></script>