<%- include('../commons/head.com.ejs', {title: `Issue n°${issue.key} : ${issue.title}`, additionalCss: ['structure', 'issue']}) %>

<body>
    <%- include('../commons/navbar.com.ejs', {user: user, currentProject: project.name, currentProjectKey: project.key, urlSuffix: ''}) %>
    <div id="kose-metadata" data-rootIssueKey="<%= issue.key %>" data-projectKey="<%= project.key %>" style="display: none;"></div>
    <div class="p-3">
        <h1><%= issue.title %></h1>
        <table>
            <tr data-field-name="status">
                <th>Status</th>
                <td><i class="fa fa-pencil edit-field-button"></i><i class="fa fa-check send-field-button"></i><i class="fa fa-times cancel-field-button"></i></td>
                <td><%- include('../partials/statusIssue.part.ejs') %></td>
            </tr>
            <tr data-field-name="estimation">
                <th>Estimation</th>
                <td><i class="fa fa-pencil edit-field-button"></i><i class="fa fa-check send-field-button"></i><i class="fa fa-times cancel-field-button"></i></td>
                <td><%- include('../partials/estimationIssue.part.ejs') %></td>
            </tr>
            <tr data-field-name="description">
                <th>Description</th>
                <td><i class="fa fa-pencil edit-field-button"></i><i class="fa fa-check send-field-button"></i><i class="fa fa-times cancel-field-button"></i></td>
                <td><%- include('../partials/descriptionIssue.part.ejs') %></td>
            </tr>
        </table>
        <hr class="m-3">
        <% if (issue.childrenIssueList.length != 0 || true) { %>
        <h3>Détail de l'implémentation :</h3>
        <%- include('../partials/backlog.part.ejs', {rootIssueList: [issue], project: project}) %>
        </div>
        <% } %>
    </div>
</body>

<%- include('../commons/foot.com.ejs') %>

<script src="/js/issue.js"></script>
<script src="/js/backlog.js"></script>