<%- include('../commons/head.com.ejs', {title: `Versions de ${project.name}`, additionalCss: ['versionList']}) %>

<body>
    <%- include('../commons/navbar.com.ejs', {user: user, currentProject: project.name, currentProjectKey: project.key, urlSuffix: '/versions'}) %>
    <div id="kose-metadata" data-projectKey="<%= project.key %>" style="display: none;"></div>
    <div class="p-3">
        <h1>Versions de <%= project.name %></h1>
    </div>
    <div class="version-button-row p-3">
      <button id="newVersionButton" type="button" class="btn btn-outline-success me-4"><i class="fa fa-plus"></i></button>
      <button id="editAllButton" type="button" class="btn btn-outline-primary mx-2"><i class="fa fa-pencil"></i></button>
      <button id="sendAllButton" type="button" class="btn btn-outline-success mx-2"><i class="fa fa-paper-plane"></i></button>
      <button id="cancelAllButton" type="button" class="btn btn-outline-danger mx-2"><i class="fa fa-times"></i></button>
    </div>
    <div class="version-timeline">
        <ul>
            <% for (let version of versionList){ %>
              <%- include('../partials/version.part.ejs', {mode: 'list', version: version}) %>
            <% } %>
        </ul>
      </div>
</body>

<%- include('../commons/foot.com.ejs') %>

<script src="/js/versionList.js"></script>